* {
   margin: 0%;
   padding: 0;
   box-sizing: border-box; 
}


body {
    background-color: #222142;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 5px;
    background-color:#252525 ;
    color:white ;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0px 50px;

}

/* animación logo */
#logo:hover{
    transition: all 3s;
    transform: scale(1.5);
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    color: white;
}

/* animación de cambio de color de instagram*/

.nav-links a:hover{
    color: #ff4be7 ; 
}
.nav-links a:hover{
    transition: all 3s;
    transform: scale(1.5);
}
#banner1{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);    background-size: cover;
    background-position: center;
    height: 200px;
    box-shadow: inset 0 0 0 2000px rgba(116,114,114, 0.382);
}
#banner2{
    background-size: cover;
    background-position: center;
    height: 400px;
    box-shadow: inset 0 0 0 2000px rgba(116,114,114, 0.382);
}
#banner3{
    background-image: url('../imagenes/2.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgba(116,114,114, 0.382);
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card-banner{
    margin: 0 auto;
    text-align: center;
    padding: 0 ;
}

.card-banner h1{
    color: white;
    font-size: 4vw;
}
.card-banner h2{
    color: aliceblue;
    margin-bottom: 20px;
}


@media screen and (max-width:800px){

    #banner1{
        height: 400px;
    }
    #banner2{
        height: 400px;
    }
    #banner3{
        height: 400px;
    }


}

@media screen and (max-width:480px){

    .card-banner h1{
        font-size: 15px;
    }
    .card-banner h2{
        font-size:10px ;
    }


    #banner {
        height: 200px;
    }
}